.loader {
  color: #cdcdcd;
  min-width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.loader .fas {
  font-size: 2rem;
}


@media (min-width: 769px) {
  .loader {
    min-height: 572px
  }

  .loader .fas {
    font-size: 8rem;
  }
}
